.posts-container {
    display: flex;
    flex-direction: row;

    gap: 40px;
    overflow: hidden;
    overflow-x: auto;
    div {
        h1 {
            font-size: 20px;
        }

        p {
            width: 400px;
            font-size: 16px;
        }
    }


}