* {
    margin: 0%;
}

.header {
    background-color: brown;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: max-content;
    background-color: aqua ;
}